{
  "extends": ["oclif", "oclif-typescript"],
  "rules": {
    "object-curly-spacing": "off",
    "semi": "off",
    "node/no-extraneous-require": "off",
    "@typescript-eslint/ban-ts-ignore": "off",
    "no-console": "off",
    "indent": "off",
    "handle-callback-err": "off",
    "valid-jsdoc": "off",
    "unicorn/prefer-add-event-listener": "off"
  }
}
